* {
  font-family: Outfit;
}

#root {
  height: 100vh;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

button {
  font-size: 20px;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
height: 100%;
}

audio {
  position: fixed;
  bottom: 20px;
}

.letter {
  width: 350px;
}

.hidden {
  display: none;
}

.btns-container {
  display: flex;
  flex-direction: row;
}

.btns-container button {
  margin: 0 20px;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.btn-yes {
  background-color: #EFAFD8;
}

.btn-no {
  background-color: #E36AA5;
}

.btn-no .clicked {

}